<body>

<div class="container">
  <div class="card card-container">
    <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" (submit)="submitForm()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" [(ngModel)] = "inputEmail" name="inputE"id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
      <input type="password" [(ngModel)]="inputPassword" name="inputP" id="inputPassword" class="form-control" placeholder="Password" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
    </form><!-- /form -->
    <a class="register" data-toggle="modal" data-target="#myModal">
      Haven't got an account? Register Here!
    </a>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Register</h4>
          </div>
          <div class="modal-body">
            <div class="row" id="row1">
              <div class="col-sm-6" id="emailText">
                <p>Email</p>
              </div>
              <div class="col-sm-6">
                <input type="text" [(ngModel)]="registerEmail" name="registerEmailText" class="form-control">
              </div>
            </div>

            <div class = "row" id="row2">
              <div class="col-sm-6" id="passText">
                <p>Password</p>
              </div>
              <div class="col-sm-6" id="input_pass">
                <input type="password" [(ngModel)]="registerPass" name="registerPassText" class="form-control">
              </div>
            </div>

            <div class = "row" id="row3">
              <div class="col-sm-6" id="nameText">
                <p>Name</p>
              </div>
              <div class="col-sm-6" id="input_name">
                <input type="name" [(ngModel)]="registerName" name="registerNameText" class="form-control">
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" (click)="registerData()">Register Now!</button>
            </div>

          </div>
        </div>
      </div>
    </div>

      </div><!-- /card-container -->
  </div><!-- /container -->
</body>
