<head>

</head>
<body>
	<div>
		<video muted autoplay loop>
  			<source src="assets\Video\EatCrop9.mp4" type="video/mp4">
		</video>
		<div class="content">
			<div class="col-sm-10" id="col1">
				<h1>Start Cooking Only With the Best Ingredients!</h1>
				<p>Black Spatula is here for you with all premium-only ingredients helping you to cook even better than before.</p>
			</div>
			<div class ="col-sm-2" ID="col2">
				<a routerLink = "/login" class="btn btn-info" role="button" id="getStarted">GetStarted</a>
			</div>
		</div>
	</div>

		<div class="container">
			<div class="row" id="promosi">
				<div class="col-sm-12">
					Make Your Food Better with Peasant Maket
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" id="row2">
				<div class="col-sm-8" id="a1">TIME SAVING
				</div>
				<div class="col-sm-4" id="a2" align="center">
					<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgEb1UfXG1wYh51DJvXS2WrRufDyxmA-dwPJauyIh6xZC4dhVe" id="img2">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" id="row3">
				<div class="col-sm-4" id="d1" align="center">
					<img src="https://dkstatic.s3.amazonaws.com/lp/new-dti/moneybags.png" id="img3">
				</div>
				<div class="col-sm-8" id="d2"> MONEY SAVING
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" id="row4">
				<div class="col-sm-8" id="e1">ONLY BEST INGREDIENTS
				</div>
				<div class="col-sm-4" id="e2" align="center">
					<img src="https://image.freepik.com/free-icon/spoon-and-fork-utensils_318-35771.jpg" id="img4">
				</div>
			</div>
		</div>

</body>
